<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martin.ads.omoshiroilib">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ui.CameraPreviewActivity"/>

        <!--Activities below is used for develop. Ignore them.-->
        <activity android:name=".debug.lab.FilterThumbActivity"/>
        <activity android:name="com.martin.ads.teststmobile.MultitrackerActivity"/>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
